@font-face {
    font-family: Source Sans Pro ;
    src: url(SourceSansPro-Black.otf);
}
* {
    font-family: Source Sans Pro;
    
    margin: 0;
    padding: 0;
}

nav img {
    width: 147px;
    height: 32px;
}
ul {
    list-style: none;
    
}
ul li {
    text-decoration: none;
}
.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 260px;
}
.main-heading {
  display: flex;
  justify-content: center;
}
.background-section {
    background-image: url(headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 480px;
height: 869px;


}

.hero-1 h1 {
  color: #fff;
  font-size: 32px;  
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  }
  .hero-1 p {
    color: #fff;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

button {
    width: 162px;
height: 44px;
flex-shrink: 0;
border-radius: 22px;
background: #FF6565;
}
.button-container{
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.quote-container {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}
.quote-container h3 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  .WWD-container p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 88px;
    }
    .icon-container h3 {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; /* 144.444% */
      }
      .icon-container p {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        padding-bottom: 70px;
        }
        .specific-icon-container {
          display: flex;
          justify-content: center;
          }
.results-quote-container {
  padding-top: 125px;
  display: flex;
  justify-content: center;
}          
.results-quote-container h3 {
  color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.results-background-section {
  background-image: url(headphones_hero_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  width: 480px;
height: 1491px;
flex-shrink: 0;
}
.results-container p {
  color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.polygon-container img {
  width: 190px;
height: 190px;
flex-shrink: 0;
padding-bottom: 50px;
}
.polygon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


@media only screen and (min-width:768px) {
  .background-section {
    background-image: url(headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 768px;
height: 800px;
flex-shrink: 0;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  margin-left: 60px;
  margin-right: 60px; 
  }

  .results-background-section {
    background-image: url(headphones_hero_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    width: 768px;
  height: 876px;
  flex-shrink: 0;
  }

  .main-SI-container {
    width: 207px;
    height: 207px;
   }
   .icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 97px;
    padding: 80px 148px;
  
   }

  .polygon {
    width: 190px;
    height: 190px;
  }
  .polygon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px;
    padding: 0px 156px;
    padding-top: 76px;


  }


}

@media only screen and (min-width:1000px) {
    .background-section {
        background-image: url(headphones_hero_1.jpg);
        background-position: center;
        background-size: cover;
        width: 1400px;
height: 1080px;
flex-shrink: 0;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 3em;
        list-style-type: none;
      }
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        margin-left: 10%;
        margin-right: 10%;
      }
      h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        padding-top: 10%;
      }
      .text-container {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
      }
      .button-container {
        padding-top: 29px;
        padding-bottom: 65px;
      }
      .specific-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 115px;
      }
      .specific-container p {
        color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
      }
      .quote-container {
        display: flex;
        justify-content: center;
      }
     .quote-container h3 {
        padding-top: 110px;
        color: #071629;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
     }
     .WWD-container {
        display: flex;
        justify-content: center;
     }
     .WWD-container p {
        color: #071629;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 30px;
     }
     .icon-container {
        display: flex;
        flex-direction: row;
        padding-top: 97px;
        padding-left: 200px;
        padding-bottom: 110px;
     }
     .specific-icon-container {
        margin: 50px;
     }
     .specific-icon-container h3 {
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
     }
     .specific-icon-container p {
     
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
     }
      .specific-icon-container img {
        padding-left: 40px;
        display: flex;
        justify-content: center;
      }
      .results-background-section {
        background-image: url(headphones_hero_2.jpg);
        width: 1400px;
height: 650px;
flex-shrink: 0;
      }
      .results-quote-container {
        padding-top: 141px;
        display: flex;
        justify-content: center;
      }
      .results-quote-container h3 {
        color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
      }
      .results-container {
        display: flex;
        justify-content: center;
     }
     .results-container p {
        color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 40px;
     }
     .polygon {
      width: 190px;
      height: 190px;
      padding-right: 76px;
    }
     .polygon-container {
      display: flex;
      flex-direction: row;
     }
    



}
