@font-face {
    font-family: Source Sans Pro ;
    src: url(SourceSansPro-Black.otf);
}
* {
    font-family: Source Sans Pro;
    
    margin: 0;
    padding: 0;
}

nav img {
    width: 147px;
    height: 32px;
}
ul {
    list-style: none;
    
}
ul li {
    text-decoration: none;
}
.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 260px;
}
.main-heading {
  display: flex;
  justify-content: center;
}
.background-section {
    background-image: url(headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    width: 480px;
    height: 869px;
}


.hero-1 h1 {
  color: #fff;
  font-size: 32px;  
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  }
  .hero-1 p {
      color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

button {
    width: 162px;
height: 44px;
flex-shrink: 0;
border-radius: 22px;
background: #FF6565;
}
.button-container{
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.quote-container {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}
.quote-container h3 {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  .WWD-container p {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding-bottom: 88px;
      }

      .icon-container h3 {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 144.444% */
        }
        .icon-container p {
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            padding-bottom: 70px;
            }
            .specific-icon-container {
                display: flex;
                justify-content: center;
                }
                .results-quote-container {
                  padding-top: 125px;
                  display: flex;
                   justify-content: center;
                     }
                     .results-quote-container h3 {
                         color: #FFF;
                       text-align: center;
                       font-size: 32px;
                       font-style: normal;
                       font-weight: 600;
                       line-height: normal;
                       }
                       .results-background-section {
                         background-image: url(headphones_hero_2.jpg);
                         background-position: center;
                         background-size: cover;
                         background-repeat: none;
                         width: 480px;
                       height: 1491px;
                       flex-shrink: 0;
                       }
                       .results-container p {
                         color: #FFF;
                       text-align: center;
                       font-size: 16px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 26px; /* 162.5% */
                       }
                       .polygon-container img {
                        width: 190px;
                      height: 190px;
                      flex-shrink: 0;
                      padding-bottom: 50px;
                      }
                      .polygon-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                      }

                      .contact-form h2 {
                        padding-top: 110px;
                        color: #071629;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                      }  
                      .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
                        width: 100%;
                        padding: 12px;
                        margin: 8px 0;
                        border: none;
                        border-bottom: 2px solid #979797;
                        outline: none;
                    }
                    
                    .contact-form textarea {
                        resize: none;
                    }   
                    .contact-form input[type="submit"] {
                        width: 100%;
                        background-color: #FF6565;
                        color: white;
                        width: 162px;
                        height: 44px;
                        flex-shrink: 0;
                        border-radius: 22px;
                        font-size: 16px;
                    } 
                    .contact-submit {
                        margin: 0px 103px;
                    }    
                    .contact-form {
                        padding-left: 28px;
                        padding-right: 48px;
                        padding-bottom: 130px;
                    }
                    footer {
                      background-color: #071629;
                      padding: 5%;
                      align-items: center;
                      width: 375px;
                      height: 249px;
                      flex-shrink: 0;
                      }
                      .flex-icon img {
                        width: 175px;
                      }
                      .flex-icon {
                        padding: 55px 107px;
                      }
                    .icons img {
                      padding-top: 55px;
                    }
                    footer p {
                      font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
                      text-align: center;
                      color: #767575;
                      font-size: 12px;
                    }



@media only screen and (min-width:768px) {
  .background-section {
    background-image: url(headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 768px;
height: 800px;
flex-shrink: 0;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  margin-left: 60px;
  margin-right: 60px; 
  }

  .results-background-section {
    background-image: url(headphones_hero_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    width: 768px;
  height: 876px;
  flex-shrink: 0;
  }

  .main-SI-container {
    width: 207px;
    height: 207px;
   }
   .icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 97px;
    padding: 80px 148px;
  
   }

  .polygon {
    width: 190px;
    height: 190px;
  }
  .polygon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px;
    padding: 0px 156px;
    padding-top: 76px;

  }

  .contact-form {
    padding-left: 191px;
    padding-right: 191px;
    padding-bottom: 130px;
}
.contact-submit {
  margin: 0px 115px;
}   


footer {
  background-color: #071629;
  align-items: center;
  width: 768px;
  height: 249px;
  flex-shrink: 0;
}
footer p {
  text-align: center;
  color: #767575;
  padding-top: 15px;
  font-size: 12px;
}
.flex-icon {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-icon img {
  width: 161px;
height: 32px;
flex-shrink: 0;

}
.icons img {
  width: 130px;
height: 30px;
flex-shrink: 0;

}






}

@media only screen and (min-width:1000px) {
    .background-section {
        background-image: url(headphones_hero_1.jpg);
        background-position: center;
        background-size: cover;
        height: 150vh;
        width: 1400px;
height: 800px;
flex-shrink: 0;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 3em;
        list-style-type: none;
      }
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        margin-left: 10%;
        margin-right: 10%;
      }
      h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        padding-top: 10%;
      }
      .text-container {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
      }
      .button-container {
        padding-top: 29px;
        padding-bottom: 65px;
      }
      .specific-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .specific-container p {
        color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
      }
      .quote-container {
        display: flex;
        justify-content: center;
      }
     .quote-container h3 {
        padding-top: 110px;
        color: #071629;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
     }
     .WWD-container {
        display: flex;
        justify-content: center;
     }
     .WWD-container p {
        color: #071629;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 30px;
     }
     .icon-container {
        display: flex;
        flex-direction: row;
        padding-top: 97px;
        padding-left: 200px;
        padding-bottom: 110px;
     }
     .specific-icon-container {
        margin: 50px;
     }
     .specific-icon-container h3 {
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
     }
     .specific-icon-container p {
     
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
     }
      .specific-icon-container img {
        padding-left: 40px;
        display: flex;
        justify-content: center;
      }
      .results-background-section {
        background-image: url(headphones_hero_2.jpg);
        width: 1400px;
height: 650px;
flex-shrink: 0;
      }
      .results-quote-container {
        padding-top: 141px;
        justify-content: center;
      }
      .results-quote-container h3 {
       
        color: #FFF;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
      }
      .results-container {
        display: flex;
        justify-content: center;
     }
     .results-container p {
        color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-top: 40px;
     }
     .polygon {
        width: 190px;
        height: 190px;
        padding-right: 76px;
      }
      .pentagon {
        width: 120px;
        height: 120px;
        background: #f66;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .space {
        padding-right: 76px;
      }
      .container {
        display: flex;
        justify-content: space-around;
        padding: 0px 107px;
      }
       .polygon-container {
        display: flex;
        flex-direction: row;
       }
  




.contact-heading {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}
.contact-heading h3 {
    color: #071629;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.contact-form {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #979797;
    outline: none;
}

.contact-form textarea {
    resize: none;
}

.contact-form input[type="submit"] {
    width: 100%;
    background-color: #FF6565;
    color: white;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    font-size: 16px;
}
.contact-submit {
    margin: 0px 130px;
}

.contact-form input[type="submit"]:hover {
    background-color: #ff4f41;
}
.contact-form {
    padding-bottom: 130px;
}
footer {
    background-color: #071629;
    padding: 5%;
    align-items: center;
    width: 1400px;
height: 249px;
flex-shrink: 0;
  }
  footer p {
    text-align: center;
    color: #767575;
    padding-top: 50px;
    font-size: 12px;
  }
  .flex-icon {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.flex-icon img {
    width: 161px;
height: 32px;
flex-shrink: 0;
}
.icons img {
    width: 130px;
height: 30px;
flex-shrink: 0;
}

}
