body {
    display: flex;
    flex-direction: column; /* Ensures child elements stack vertically */
  }
  main {
    display: flex;
    flex: 1; /* Allows main to grow and fill available space */
    flex-direction: row; /* Adjust based on desired layout */
    flex:auto
  }
  article {
    flex: 2;
    overflow-y: auto;
  }
  aside {
    flex: 1;
    overflow-y: auto;
  }